@page "/getintouch"
<div class="text-center my-5 border rounded">
    <div class="display-6">
        <h1>Contact</h1>
    </div>
    <div class="lead">
        <i class="fa fa-phone text-primary my-3"></i>
        <p>
            ALO 555 123 12 12 Destek Hattı
        </p>
        <i class="fa fa-address-book text-primary my-3"></i>
        <p>
            Ceylan Sok. Soganlı cad. Güngören/ISTANBUL
        </p>
        <i class="fa fa-envelope text-primary my-3"></i>
        <p>
            destek@gmail.com
        </p>
    </div>
</div>