@page "/getintouch"
<div class="text-center my-5">
    <div class="display-6  border-bottom">Contact</div>
    <div class="lead mt-5">
        <i class="fa fa-phone bg-secondary p-3 text-white rounded-5 my-3"></i>
        <p>
            ALO 555 123 12 12 Destek Hattı
        </p>
        <i class="fa fa-address-book bg-secondary p-3 text-white rounded-5 my-3"></i>
        <p>
            Ceylan Sok. Soganlı cad. Güngören/ISTANBUL
        </p>
        <i class="fa fa-envelope bg-secondary p-3 text-white rounded-5 my-3"></i>
        <p>
            destek@gmail.com
        </p>
    </div>
</div>