@page
@model StoreApp.Pages.DemoModel
@{
}
<div class="my-5 text-center">
    <div class="display-6">
        Hello @Model?.FullName
    </div>
    <p class="text-danger">@Model?.FullName</p>
    <form asp-page="/demo" method="post">
        <div class="form-group">
            <input class="form-control" name="name" placeholder="enter your name" />
            <input type="submit" class="btn btn-primary my-3" />
        </div>
    </form>
</div>